# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_SOFLE_L
    def_bool $(shields_list_contains,Sofle_L)

config SHIELD_SOFLE_R
    def_bool $(shields_list_contains,Sofle_R)
